# node
node_modules/

# dir
coverage/
scripts/
src/

# file
*.log
.editorconfig
.gitignore
.gitlab-ci.yml
.prettierignore
.prettierrc
babel.config.js
gulpfile.js
jest.config.json
tsconfig.json
tslint.json
